.cart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: flex-end;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  .cart-content {
    height: 100vh;
    width: 320px;
    position: relative;
    background-color: whitesmoke;
    text-align: center;

    animation: cartSlider 0.3s ease forwards;
    transform: translateX(100%);

    .header {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
      .heading-text {
        font-weight: lighter;
      }
      .close-btn {
        cursor: pointer;
        gap: 3px;
        font-weight: bold;
        &:hover {
          opacity: 0.6;
        }
        &:active {
          opacity: 1;
        }
      }
    }
    .empty-cart-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 20px;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 3rem;
        color: var(--secondary-text-color);
      }

      h4 {
        color: var(--secondary-text-color);
      }
    }
    .cartdetail {
      text-align: center;
      .cartitem {
        padding: 10px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
        padding-block: 20px;
      }
      .totalamount {
        letter-spacing: 0.6px;
        padding: 10px;
        margin-block: 8px;
        display: flex;
        justify-content: space-between;
      }
      .checkout-btn {
        margin-inline: 15px;
        font-weight: 500;
      }
    }
  }
}

@keyframes cartSlider {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

